<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pickerstunes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pickerstunes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PickersTunes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PickersTunes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ugridvdeb7.database.windows.net,1433;Initial Catalog=PickersTunes_db;User ID=PTDB-user@ugridvdeb7;Password=iShTAR036" Name="Data Source=tcp:ugridvdeb7.database.windows.net,1433;Initial Catalog=PickersTunes_db;User Id=PTDB-user@ugridvdeb7;Password=iShTAR036" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PickersTunes.Models.ApplicationDbContext, PickersTunes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PickersTunes.TuneContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PickersTunes.TuneContext, PickersTunes" MigrationConfiguration="PickersTunes.Migrations.Configuration, PickersTunes" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ugridvdeb7.database.windows.net,1433;Initial Catalog=PickersTunes_db;User Id=PTDB-user@ugridvdeb7;Password=iShTAR036</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PickersTunes.TuneContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PickersTunes.TuneContext" />
  </ItemGroup>
</Project>